@import "Main.css";

.navbar{
  position: relative;
  width: 80%;
  height: 50px;
  background: #222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.left-navbar{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}
.nav-item{
  margin-left: 12px;
}

li link{
  display: flex;
  justify-content: center;
  align-items: center;

}


.active-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #194b4f, #33fffc);
  border-radius: 10px;
  transition: 0.5s;
}
