.bg-register-image {
    background-size: cover;
    background-position: center;
    background-color: rgb(30, 23, 157);
  }
  
  .user input {
    border-radius: 10rem;
  }
  
  .btn-user {
    border-radius: 10rem;
  }
  
  .btn-google {
    background-color: #ea4335;
    color: white;
  }
  
  .btn-facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .text-center .small {
    color: #007bff;
  }
  
  .text-center .small:hover {
    text-decoration: underline;
  }
  